body {
    margin-top: 50px;
}

.row:last-child {
    margin-bottom: 50px;
    border-bottom: 1px solid black;
}

.row * {
    border: 1px solid black;
    height: 150px;
    text-align: center;
    line-height: 150px;
    vertical-align: middle;
}

.h170 {
    height: 140px;
}

.row.nest {
    padding: 5px;
    line-height: 140px;
}

.border-white {
    border: 1px solid white;
}

.bg-pink {
    background-color: pink;
}

.bg-dpink {
    background-color: rgb(231, 119, 137);
}