body {
    margin-top: 50px;
}

.row {
    height: 150px;
}

.row * {
    border: 1px solid black;
}

.row.nest {
    padding: 2px;
}

.border-white {
    border: 1px solid white;
}

.bg-pink {
    background-color: pink;
}

.bg-dpink {
    background-color: rgb(231, 119, 137);
}